// Contains primary content of page

h1 {
  font-family: $font-main;
  color: $color-font;
}

body {
  font-family: $font-body;
  background: $img-bg;
  color: $color-font;
}

.big-header {
  font-size: 144pt;
}

.big-header-subtitle {
  font-family: $font-main;
  font-size: 36pt;
  color: darken($color-font, 0.25);
}