@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Quicksand:400,700');

// Colors
$color-font: #B2EBF2;
$color-main: #1E88E5;
$color-bg: #0277BD;
$color-sub: #03A9F4;

// Fonts
$font-main: 'Quicksand', sans-serif;
$font-body: 'Cormorant Garamond', serif;